body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: white;
}

.holder{
  background-color: white;
  height: 150vh;
}

a {
  margin: 5%;
  text-decoration: none;
}

.title{
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  width: 100%;
}

.navbar{
  display:flex;
  justify-content: space-evenly;
  max-width: fit-content;
  margin: auto;
}

.navbar.button {
  background-color: white;
  color: black;
  border: 3px solid #000000;
  font-size: medium;
  align-content: center;
  white-space: nowrap;

  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 10px;
  padding-right: 10px;
}

.navbar.button:hover {
  background-color: #000000;
  color: white;
}

.center {
  text-align: center;
  align-items: center;
}

.contentbody{
  border-top: 3px solid #000000;    
  min-width: 75%;
  max-width: 75%;
  margin: auto;
  text-align: left;
}

.contentbody >  h2{
  border-bottom: 2px dashed #303030;
}

.input-description{
  text-align:start;
  width: 500px;
  height: 100px;
}

.project-entry{
  display: block;
  width: 220px;
}
.card{
  background-color: rgb(223, 223, 223);
  font-size: large;
  align-content: center;
  padding: 10px;
}

.card > *{
  margin: 0px;
}

.card > img{
  height: 200px;
  width: 200px;
}

.card:hover {
  background-color: black;
  color: white;
}

.grid{
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
  min-width: 70%;
}

.head-spacer{
  height: 200px;
  width: 100%;
}

a.anchor {
  display: block;
  position: relative;
  top: -200px;
  visibility: hidden;
}