doctype html
html
  head  
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Silkscreen')
  body.center
    //.sidebar
      a(href= 'https://www.linkedin.com/in/dhruv-pant-742343204/', target= '_blank')
        .sidebar-linkedin
          img(src="https://i.ibb.co/ZmptdDK/174857.png", alt="")
      a(href= 'https://www.youtube.com/channel/UCp3PqvCmRH4v1GdDSme2zBQ', target= '_blank') 
        .sidebar-yt
          img(src="https://i.ibb.co/wcGbMKj/youtube-logo-png-46016-1.png", alt="")
      a(href= 'https://discord.gg/MHp8CAxV', target= '_blank')
        .sidebar-discord
          img(src="https://i.ibb.co/D51tTVJ/discord.png", alt="")
      a(href= 'https://www.reddit.com/user/DhruvPant/', target= '_blank') 
        .sidebar-reddit
          img(src="https://i.ibb.co/7gSYzYp/reddit.png", alt="")
    .holder
      block content

script. 
    window.onscroll = function() {scrollFunction()};
    function scrollFunction() {
      if (document.body.scrollTop > 30 || document.documentElement.scrollTop > 30) {
        document.getElementById("header").style.fontSize = "0px";
        document.getElementById("header").style.height = "0px";
        document.getElementById("navbar").style.backgroundColor = "black";
        
      } else {
        document.getElementById("header").style.fontSize = "14px";
        document.getElementById("header").style.height = "200px";
        document.getElementById("navbar").style.backgroundColor = "transparent";
      }
    }