.navbar
    //a(href = 'downloads/Resumes.pdf', download= 'Dhruv_Pant_Resume')
        .navbar-button.center  Resume
    a(href = '/#Aboutme')
        .navbar-button.center  About Me
    a(href = '/#ProfessionalProjects')
        .navbar-button.center  Professional Projects
    a(href = '/#PersonalProjects')
        .navbar-button.center  Personal Projects
    a(href = '/#GameJamProjects')
        .navbar-button.center  Game Jam Projects
    a(href = 'mailto: dhruv30c2@gmail.com')
        .navbar-button-green.center  Contact me
    a(href = '/project/add')
        .navbar-button.center  New Project       
    


