.navbar
    a(href = '/#Aboutme')
        .navbar-button.center  About Me
    a(href = '/#ProfessionalProjects')
        .navbar-button.center  Professional Projects
    a(href = '/#PersonalProjects')
        .navbar-button.center  Personal Projects
    //a(href = '/#GameJamProjects')
        .navbar-button.center  Game Jam Projects
    a(href = 'mailto: dhruv304c2@gmail.com')
        .navbar-button-green.center  Email: dhruv304c2@gmail.com     
    


