html{
  scroll-behavior: smooth;
}

body {
  font-family: Consolas,"courier new";
  font-size: 14px;
  color: black;
  background-color: rgb(255, 255, 255);
}

.banner{
  display: flex;
  justify-content: center;
}

.banner > img{
  height: 300px;
  width: auto;
}

.banner > *{
  padding: 5%;
}

.holder{
  height: 150vh;
}

a {
  margin: 1%;
  text-decoration: none;
}

.title{
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  width: 100%;
  height: fit-content;
}

#header{
  transition: all 0.2s;
  height: 200px;
  color: white;
}

.navbar{
  display:-webkit-inline-flex;
  justify-content: center;
  max-width: 30%;
  margin: auto;
  font-size: small;
}

#navbar{
  transition: all 0.2s;
}

.navbar-button {
  color: white;
  border: 3px solid white;
  align-content: center;
  white-space: nowrap;
  font-size: medium;
  margin: 0;

  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 10px;
  padding-right: 10px;

  transition: all 0.2s;
}

.navbar-button:hover {
  background-color: white;
  color: black;
}

.navbar-button-green{
  color: greenyellow;
  border: 3px solid greenyellow;
  align-content: center;
  white-space: nowrap;
  font-size: medium;

  margin: 0;

  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 10px;
  padding-right: 10px;

  transition: all 0.2s;
}

.navbar-button-green:hover{
  background-color: greenyellow;
  color: rgb(47, 0, 61);
}

.center{
  text-align: center;
  align-items: center;
}

.contentbody{
  min-width: 800px;
  max-width: 75vw;
  margin: auto;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.185);
  font-size: large;
  font-weight: bold;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.contentbody > p> a{
  color: black;
  margin: 0%;
  font-size: small;
  border: 3px solid black; 
  transition: 0.2s;
  padding: 2px;
}

.contentbody > p> a:hover {
  color: white;
  background-color: black;
}

.align-left{
  text-align: left;
}

.input-description{
  text-align:start;
  width: 500px;
  height: 100px;
}

.project-entry{
  display: block;
  width: auto;
  height: fit-content;
  transition: all 0.3s;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.568);
  border-radius: 1%;
  padding: 5%;
  margin: 1%;
}

.project-entry-text{
  margin-left: 5%;
}

.project-entry-visuals{
  display: block;
}

.project-entry-layout{
  display: flex;
}

.card{
  display: flex;
  background-color: black;
  color: white;
  font-size: small;
  align-content: center;
  padding: 10px;
  width: fit-content;

  transition: all 0.2s;
}

.card > *{
  margin: 0px;
}

.card > img{
  height: 200px;
  width: 200px;
}

/* .card:hover {
  background-color: white;
  color: black;
} */

.tools-bar{
  height: fit-content;
  width: 160px;
  align-items: left;
  color: black;
  font-size: 14px;
}

.tools-bar > p > img{
  width: 50px;
  height: 50px;
}

.tools{
  height: fit-content;
  min-width: 800px;
  max-width: 75vw;
  margin: auto;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.185);
  padding-left: 3%;
  padding-right: 3%;
  color: white;
}

.tools > p >  img{
  width: 80px;
  height: 80px;
}

.grid{
  display: grid;
  grid-template-columns: auto;
  padding: 10px;
  min-width: 70%;
}

.head-spacer{
  height: 250px;
  width: 100%;
}

a.anchor {
  display: block;
  position: relative;
  top: -70px;
  visibility: hidden;
}

.sidebar{
  position: fixed;
  top:50%;
  left: 0;
  transform: translateY(-50%);
}

.sidebar > a{
  padding: 0px;
  margin: 0px;
}

.sidebar > a > *{
  transition: all 0.2s;
}

.sidebar > a > *:hover{
  width: 90px;
  border-top-right-radius: 20px;  
  border-bottom-right-radius: 20px;  
}

.sidebar-linkedin {
  background-color: white;
  width: 70px;
  height: 70px;
  border-top-right-radius: 10px;
  align-items: center;
}

.sidebar-linkedin > img{
  width: 60px;
  height: 60px;
  position: absolute;
  top:5px;
  left: 5px;
}

.sidebar-yt {
  background-color: red;
  width: 70px;
  height: 70px; 
}

.sidebar-yt > img{
  width: 60px;
  height: 60px;
  position: absolute;
  top:75px;
  left: 5px;
}

.sidebar-discord {
  background-color: rgb(98, 61, 184);
  width: 70px;
  height: 70px; 
}

.sidebar-discord > img{
  width: 60px;
  height: 60px;
  position: absolute;
  top:145px;
  left: 5px;
}

.sidebar-reddit {
  background-color: rgb(248, 79, 28);
  width: 70px;
  height: 70px;
  border-bottom-right-radius: 10px;  
}

.sidebar-reddit > img{
  width: 60px;
  height: 60px;
  position: absolute;
  top:215px;
  left: 5px;
}

.github-button{
  width: 200px;
  background-color: white;
  color: black;
  margin: auto;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  border-radius: 30px;
}

.github-button:hover{
  background-color: rgb(52, 191, 255);
  transition: all 0.2s;
}

.github-button > *{
  padding: 2%;
}

.github-button > img{
  width: 40px;
  height: 40px;
}

.footer{
  height: 300px;
  width: 100%;
}

.bg {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 300% 300%;
  background-image: linear-gradient(
        -45deg, 
        rgba(59,173,227,1) 0%, 
        rgba(87,111,230,1) 25%, 
        rgba(152,68,183,1) 51%, 
        rgba(255,53,127,1) 100%
  );  
  animation: AnimateBG 20s ease infinite;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

@keyframes AnimateBG { 
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}