extend ../index 
    
block content_body
    .head-spacer
    h1= project.title 
    if project.githubUrl !== ''
        a(href= project.githubUrl target= "_blank")
            include ../_github-link
    .banner
        img(src=project.thumbnailUrl, alt="")
        if project.embeddedVideoUrl !== ''
            iframe(src= project.embeddedVideoUrl, frameborder="0", width="533px", height="300px") 
    .tools 
        h2 Tools:
        != project.tools
    .contentbody.align-left
        != project.details
        != project.contributions