extends layout 

block content
  .title#navbar  
      .div#header
        h1 Dhruv Pant
        p welcome to my portfolio
      include navigation_links
  .head-spacer
  block content_body
    a.anchor#Aboutme
    .contentbody
      include aboutme
    a.anchor#ProfessionalProjects
    .contentbody
      include projects/professionalProjects
    a.anchor#PersonalProjects
    .contentbody
      include projects/personalProjects
    a.anchor#GameJamProjects
    .contentbody
      include projects/gamejamProjects
  .head-spacer