doctype html
html
  head  
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Silkscreen')
  body.center
    .sidebar
      a(href= 'https://www.linkedin.com/in/dhruv-pant-742343204/', target= '_blank')
        .sidebar-linkedin
          img(src="https://i.ibb.co/ZmptdDK/174857.png", alt="")
      a
        .sidebar-yt
      a
        .sidebar-discord
      a
        .sidebar-reddit
    .holder
      block content

script. 
    window.onscroll = function() {scrollFunction()};
    function scrollFunction() {
      if (document.body.scrollTop > 30 || document.documentElement.scrollTop > 30) {
        document.getElementById("header").style.fontSize = "0px";
        document.getElementById("navbar").style.backgroundColor = "black";
        
      } else {
        document.getElementById("header").style.fontSize = "14px";
        document.getElementById("navbar").style.backgroundColor = "transparent";
      }
    }