doctype html
html
  head  
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Silkscreen')
  body.center
    .sidebar
      a(href= 'https://www.linkedin.com/in/dhruv-pant-742343204/', target= '_blank')
        .sidebar-linkedin
          img(src="https://imgur.com/QV258ne", alt="")
      a
        .sidebar-yt
      a
        .sidebar-discord
      a
        .sidebar-reddit
    .holder
      block content
