.navbar
    a(href = '#/Aboutme')
        .navbar-button.center  Resume
    a(href = '/#ProfessionalProjects')
        .navbar-button.center  Professional Projects
    a(href = '/#PersonalProjects')
        .navbar-button.center  Personal Projects
    a(href = '/#GameJamProjects')
        .navbar-button.center  Game Jam Projects
    a(href = '/#Aboutme')
        .navbar-button.center  About Me
    a(href = '/project/add')
        .navbar-button.center  New Project       
    


