.navbar
    a(href = '/aboutme')
        .navbar.button.center  Resume
    a(href = '/aboutme')
        .navbar.button.center  Professional Projects
    a(href = '/aboutme')
        .navbar.button.center  Personal Projects
    a(href = '/aboutme')
        .navbar.button.center  Game Jam Projects
    a(href = '/aboutme')
        .navbar.button.center  About Me     
    


